{% block content %}
<h1>Logging out</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Log Out</button>
</form>
<p>You are logged out! See ya later alligator!</p>
{% endblock content %}